    body {
        font-family: 'Montserrat';
    }
    
    .m-t1 {
        margin-top: 10px;
    }
    
    .m-t2 {
        margin-top: 20px;
    }
    
    .m-t3 {
        margin-top: 30px;
    }
    
    .m-t4 {
        margin-top: 40px;
    }
    
    .m-b3 {
        margin-bottom: 30px;
    }
    
    .topheader {
        background-color: #044BA9;
    }
    
    .headerrighttext {
        margin-top: 25px;
    }
    
    .logotext {
        margin-left: 50px;
    }
    
    .maincontainer {
        background: #F4FBFF;
        margin-top: 30px;
        border-radius: 10px;
    }
    
    .maincontainer h1 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        letter-spacing: 0.05em;
        color: #252423;
    }
    
    .content-section {
        background: #F4FBFF;
    }
    
    .content-section h2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        letter-spacing: 0.05em;
        color: #3B3B3B;
    }
    
    .content-section h3 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        letter-spacing: 0.05em;
        text-decoration-line: underline;
        color: #3B3B3B;
    }
    
    .content-section p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 27px;
        text-align: justify;
        letter-spacing: 0.05em;
        color: #3B3B3B;
        
    }
    /* for styling only */
    
    .sidebar,
    .sidebar-btn,
    .menu-stripes,
    .content {
        transition: transform .5s ease-in-out;
    }
    
    .content.sidebar-show:before {
        content: "";
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        z-index: 500000;
        overflow: hidden;
    }
    
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 280px;
        height: 100%;
        background: #FFF;
        color: #333;
        transform: translate(-280px);
        z-index: 5001;
    }
    
    .sidebar.show {
        transform: translate(0);
        overflow-y: auto;
    }
    
    .sidebar-btn {
        position: absolute;
        height: 50px;
        width: 50px;
        background: rgba(4, 75, 169, .5);
        border: 0;
        border-radius: 99px;
        top: 22px;
        /* transform: translate(10px); */
        z-index: 5002
    }
    /* .sidebar-btn.sidebar-show {
    transform: translate(220px);
} */
    
    .menu-stripes {
        position: relative;
        height: 4px;
        width: 25px;
        margin: 7px auto;
        background-color: #FFF;
        border-radius: 5px;
    }
    
    .sidebar-btn.sidebar-show .menu-stripes {
        margin: -3px auto;
    }
    
    .sidebar-btn.sidebar-show .menu-stripes:nth-child(1) {
        transform: rotate(45deg);
    }
    
    .sidebar-btn.sidebar-show .menu-stripes:nth-child(2) {
        display: none;
    }
    
    .sidebar-btn.sidebar-show .menu-stripes:nth-child(3) {
        transform: rotate(-45deg);
    }
    
    .sidebar-btn:not(.sidebar-show):hover>.menu-stripes {
        animation: hoverButton .4s infinite;
    }
    
    @keyframes hoverButton {
        0% {
            left: 0
        }
        33% {
            left: -1px
        }
        66% {
            left: 6px
        }
        100% {
            left: 0
        }
    }
    
    .pad-dbl p {
        text-align: center;
        margin-top: 24px;
        font-size: 16px;
    }
    
    .sidebar .history {
        background: #F3F3FF;
        padding: 10px 0px;
        text-align: center;
        font-size: 16px;
    }
    
    .points {
        padding: 10px;
    }
    
    .points p {
        margin: 0px;
        padding: 0px 20px;
    }
    
    .points1 {
        float: right;
    }
    /* Submenu */
    
    .menu {
        border-bottom: 1px solid #EEE;
        margin-top: 10px;
    }
    
    .menu img {
        width: 60px;
        float: left;
    }
    
    .menu-btn,
    .menu-link {
        outline: 0 !important;
    }
    
    .menu-link {
        display: inline-block;
        transition: color .2s;
    }
    
    .menu-link:hover {
        color: #2e86c1;
    }
    
    .menu-btn {
        transition: background .2s, color .2s;
    }
    
    .menu-btn:hover {
        background: #333;
        color: #FFF;
    }
    
    .menu-toggle-btns {
        position: relative;
    }
    
    .menu-toggle-btns>.menu-link {
        width: 246px;
    }
    
    .menu-btn>div {
        display: inline-block;
        font-weight: bold;
        transition: transform .2s ease-in-out;
    }
    
    .menu-btn.active>div {
        transform: rotate(45deg);
    }
    
    .submenu {
        display: none;
    }
    
    .menu p {
        font-size: 16px;
        margin: 0px;
        display: block;
        float: left;
        width: 100%;
    }
    
    .menu p a {
        display: block;
        text-decoration: none;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0.05em;
        color: #252423;
        float: left;
        position: relative;
        width: 100%;
    }
    
    .menu p a .menutext {
        display: flex;
        align-items: center;
    }
    
    .menulink:hover {
        background: #F3F3FF;
    }
    
    .menu p .number {
        float: right;
        margin-right: 10px;
    }
    
    .menulink {
        position: relative;
        float: left;
        width: 100%;
        margin-bottom: 10px;
    }
    
    .content.sidebar-show:before {
        content: "";
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        z-index: 5000;
        overflow: hidden;
    }
    
    body.sidebar-show {
        overflow: hidden;
    }
    
    .content.sidebar-show:before {
        content: "";
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        z-index: 5000;
        overflow: hidden;
    }
    
    .lab a {
        background: #044BA9;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 29px;
        text-align: justify;
        letter-spacing: 0.05em;
        color: #F3F3FF;
        padding: 15px 25px;
        text-decoration: none;
        display: inline-block;
        width: 210px;
        text-align: center;
    }
    
    .appbtn a {
        border: 1px solid #044BA9;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 29px;
        text-align: justify;
        letter-spacing: 0.05em;
        color: #044BA9;
        padding: 15px 25px;
        text-decoration: none;
        display: inline-block;
        width: 210px;
        text-align: center;
    }
    
    .calltoaction {
        text-align: center;
        align-items: center;
    }
    
    .newbtnsection {
        background: #F3F3FF;
        padding: 40px;
        text-align: center;
    }
    
    .newbtnsection p img {
        display: inline-block;
    }
    
    .backbtn {
        margin-top: 20px;
    }
    
    .backbtn a {
        background: #000;
        color: #ffffff;
        padding: 10px 20px;
        border-radius: 4px;
    }
    
    .profile-data label {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.05em;
        color: #626262;
        margin-bottom: 15px;
    }
    
    .profile-data span {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        /* identical to box height */
        letter-spacing: 0.05em;
        color: #3B3B3B;
    }
    
    .profile-data p {
        margin-left: 100px;
    }
    
    .profile-data h3 {
        margin-left: 80px;
    }
    
    .profile-data {
        padding-bottom: 40px;
    }
    
    .modal-header {
        border: none;
    }
    
    .modal-content {
        background: #F3F3FF;
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }
    
    .modal-header {
        padding: 10px 10px 0px 0px;
    }
    
    .close {
        opacity: 1;
        font-size: 45px;
        color: #044BA9;
        font-weight: normal;
    }
    
    .Lab {
        padding: 0px 40px 20px 40px;
    }
    
    table {
        background: #fff;
        padding: 20px;
        border: 1px solid #ccc;
        width: 100%;
    }
    
    .Lab h2 {
        margin-top: 0px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        text-align: justify;
        letter-spacing: 0.05em;
        color: #252423;
    }
    
    .appoint label {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        text-align: justify;
        letter-spacing: 0.05em;
        color: #252423;
    }
    
    .appoint input[type="date"],
    select {
        background: #FFFFFF;
        box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        width: 100%;
        padding: 10px;
        border: none;
    }
    
    .appoint1 {
        margin-bottom: 20px;
    }
    
    .appoint1 h2 {
        margin-bottom: 10px;
        margin-top: 0px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        text-align: justify;
        letter-spacing: 0.05em;
        color: #252423;
    }
    
    .appoint label {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-align: justify;
        letter-spacing: 0.05em;
        color: #252423;
    }
    
    .backsec p {
        text-align: center;
    }
    
    .backsec p a {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.05em;
        color: #044BA9;
        border: 1px solid #044BA9;
        padding: 5px 20px;
        border-radius: 4px;
        text-decoration: none;
        background: #F3F3FF;
    }
    
    .bookApp p {
        text-align: center;
    }
    
    .bookApp p a {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.05em;
        color: #ffffff;
        border: 1px solid #044BA9;
        padding: 5px 20px;
        border-radius: 4px;
        text-decoration: none;
        background: #044BA9;
    }
    
    .minheader {
        background-color: #1459b4;
    }
    
    .minheader h5 {
        color: #ffffff;
        margin-top: 30px;
    }
    
    .topnavbar span img {
        margin-bottom: 5px;
    }
    
    .topnavbar p {
        margin-bottom: 0px;
    }
    
    .topnavbar span {
        display: inline-block;
        display: inline-block;
        TEXT-ALIGN: center;
        margin: 0px 15px;
        padding: 10px;
        color: #ffffff;
    }
    
    .topnavbar span a {
        color: #ffffff;
        text-decoration: none;
    }
    
    .whitediv {
        background: #ffffff;
        float: left;
        width: 100%;
        padding: 20px;
        border: 1px solid #626262;
        border-radius: 5px;
    }
    
    .bb {
        border-bottom: 1px solid #C5C5C5;
        padding: 10px;
    }
    
    @media (min-width:300px) and (max-width:1300px) {
        .container {
            width: 100%;
        }
        .profile-data p {
            margin-left: 0px;
        }
        .profile-data h3 {
            margin-left: 0px;
        }
        .topnavbar {
            position: fixed;
            z-index: 1000;
            bottom: 0%;
            left: 0%;
            background: #044BA9;
            right: 0%;
            text-align: center;
            width: 100%;
            padding: 0px;
        }
        .minheader h5 {
            color: #ffffff;
            margin-top: 15px;
            padding: 10px 0px;
        }
        .topnavbar span {
            margin: 0px;
        }
        .topnavbar span a {
            font-size: 13px;
        }
        .profile-data p {
            text-align: center;
        }
        .profile-data h3 {
            text-align: center;
        }
    }
    
    .profile-data1 {
        margin: 20px 0px;
    }
    
    .profile-data1 h2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        letter-spacing: 0.05em;
        color: #3B3B3B;
        margin-top: 0px;
    }
    
    .profile-data1 p {
        font-size: 16px;
    }
    
    .download p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.05em;
        color: #252423;
        margin: 20px 0px;
    }
    
    .loginsection {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    .loginform {
        background: #F4FBFF;
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 30px;
        margin: 20px;
    }
    
    .loginform h3 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        color: #3B3B3B;
        text-align: center;
        margin-bottom: 15px;
    }
    
    .loginform h4 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.05em;
        color: #3B3B3B;
        text-align: center;
        margin-bottom: 15px;
    }
    
    .loginform .input-group-addon {
        background: none;
        border: none;
    }
    
    .loginform input {
        border: none;
        box-shadow: none;
        background: #ffffff;
        font-size: 18px;
    }
    
    .loginform .input-group {
        border: none;
        padding: 10px;
        margin-bottom: 35PX;
        margin-top: 35PX;
        background: #ffffff;
    }
    
    .loginform input:focus {
        box-shadow: none !important;
    }
    
    .bigbtn p a {
        width: 100%;
        background: #044BA9;
        display: block;
        text-align: center;
        padding: 13px;
        color: #ffffff;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        color: #FFFFFF;
        text-decoration: none;
    }
    
    .loginsection1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    @media (min-width:300px) and (max-width:767px) {
        .loginform {
            padding: 15px;
            margin: 15px;
        }
        .loginform h3 {
            font-size: 16px
        }
        .loginform h4 {
            font-size: 16px;
        }
        .loginform .input-group {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .loginform input {
            font-size: 16px;
        }
        .loginsection1 {
            display: block;
            align-items: center;
            justify-content: center;
        }
        .maincontainer h1 {
            font-size: 21px
        }
        .mp {
            padding: 0px;
        }
        .profile-data1 h2 {
            font-size: 18px;
        }
        .profile-data1 p {
            font-size: 14px;
        }
        .profile-data label,
        .profile-data span {
            font-size: 14px;
        }
        .calltoaction {
            position: fixed;
            bottom: 0%;
            background: #FFF;
            width: 100%;
            left: 0%;
            z-index: 1;
            padding: 10px 0px;
        }
        .lab a,
        .appbtn a {
            padding: 12px 0px;
            width: 176px;
            font-size: 14px;
        }
        .maincontainer {
            margin-bottom: 80px;
        }
        .profile-data p {
            text-align: center;
        }
        .profile-data h3 {
            text-align: center;
        }
    }
    
    .date h2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.05em;
        color: #252423;
    }
    
    .events {
        position: relative;
        display: grid;
        grid-template-columns: 27px 1fr;
        row-gap: 29px;
        padding-top: 15px;
        width: fit-content;
    }
    
    .event {
        display: grid;
        grid-template-columns: 16px 1fr;
        column-gap: 16px;
        grid-column: 1 / 3;
    }
    
    .knob {
        grid-column: 1 / 2;
        align-self: center;
        width: 100%;
        aspect-ratio: 1 / 1;
        z-index: 1;
        background: #044BA9;
        border-radius: 50%;
        border: 4px solid #ffffff;
        padding: 10px;
    }
    
    .knob.knob-border {
        border: 1px solid #ccc;
        grid-column: 1 / 2;
        align-self: center;
        width: 100%;
        aspect-ratio: 1 / 1;
        z-index: 1;
        border-radius: 50%;
        border: 2px solid #044BA9;
        padding: 10px;
        background: #ffffff;
    }
    
    .line {
        position: absolute;
        grid-column: 1 / 1;
        justify-self: center;
        height: 100%;
        width: 2px;
        z-index: 0;
        background-color: #000000;
    }
    
    .ptext {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: justify;
        letter-spacing: 0.05em;
        color: #3B3B3B;
    }
    
    .AppointmentForm label {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: justify;
        letter-spacing: 0.05em;
        color: #252423;
        margin-bottom: 10px;
    }
    
    .AppointmentForm input[type="date"] {
        background: #FFFFFF;
        box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        border: none;
        height: 40px;
        margin-bottom: 20px;
    }
    
    .AppointmentForm select {
        background: #FFFFFF;
        box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        border: none;
        height: 40px;
        margin-bottom: 20px;
    }
    
    @media (min-width:768px) and (max-width:1024px) {
        .loginform {
            padding: 15px;
            margin: 15px;
        }
        .loginform h3 {
            font-size: 16px
        }
        .loginform h4 {
            font-size: 16px;
        }
        .loginform .input-group {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .loginform input {
            font-size: 16px;
        }
    }


    .fs-2rem{
        font-size:2rem;
        
    }