  /* Submenu */
  
  .menu {
      border-bottom: 1px solid #EEE;
  }
  
  .menu ul {
      padding: 0px;
  }
  
  .menu ul li {
      list-style: none;
  }
  
  .menu-btn,
  .menu-link {
      outline: 0 !important;
  }
  
  .menu-link {
      display: inline-block;
      transition: color .2s;
  }
  
  .menu-link:hover {
      color: #2e86c1;
  }
  
  .menu-btn {
      transition: background .2s, color .2s;
  }
  
  .menu-btn:hover {
      background: #333;
      color: #FFF;
  }
  
  .menu-toggle-btns {
      position: relative;
  }
  
  .menu-toggle-btns>.menu-link {
      width: 246px;
  }
  
  .menu-level1 a {
      color: #333;
  }
  
  .menu-level1>li {
      border-top: 1px solid #EEE;
  }
  
  .menu-level1 .menu-link {
      padding: 15px 20px;
  }
  
  .menu-level2 {
      background: #F4F4F4;
  }
  
  .menu-level2 .menu-link {
      padding: 15px 15px 15px 30px;
  }
  
  .menu-level2>li+li {
      border-top: 1px solid #E9E9E9;
  }
  
  .menu-level2 .menu-btn {
      border-color: #E9E9E9;
  }
  
  .menu-level3 {
      background: #E5E8E8;
  }
  
  .menu-level3 .menu-link {
      padding: 15px 15px 15px 45px;
  }
  
  .menu-btn {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      width: 54px;
      height: 100%;
      padding: 19px 0;
      border-left: 1px solid #EEE;
      text-align: center;
      line-height: 1;
  }
  
  .menu-btn>div {
      display: inline-block;
      font-weight: bold;
      transition: transform .2s ease-in-out;
  }
  
  .menu-btn.active>div {
      transform: rotate(45deg);
  }
  
  .submenu {
      display: none;
  }